
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
 
    width: 500px;
}

.login-card {
    background-color: greenyellow;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}



.forgot-password {
    font-size: 14px;
    color: #007bff;
}

.forgot-password a {
    text-decoration: none;
}


.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}







