
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: rgb(227, 246, 248);
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
 
    width: 500px;
}

.login-card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
    text-align: center;
}
.login-card:hover{
    transform: scale(1.03);

}

h1{
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}



.forgot-password {
    font-size: 16px;
    color: #007bff;
    text-align: center;
    margin-top: 14px;
}

.forgot-password a {
    text-decoration: none;
}


.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.register{
    text-align: center;
    text-decoration: none;
    box-shadow: #333;
    margin-top: 16px;
}






